.announcement {
    border: 1px black solid;
    background-color : #ccc;
    padding: 0.8em;
    position: relative;
    overflow: hidden;
}

button {
    border: none;
    position: absolute;
    top: 3px;
    right: 3px;
    background-color:white;
}
